<% include header %>

<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#"><strong> Login</strong></a>
  		</div>
  	</div>
  </nav>

<div class="container">
<div class="col-sm-6 col-sm-offset-3">
 <% if(locals.errors){ %>
                   <ul>
                       <div class="alert alert-danger">
                   <% locals.errors.forEach(function( err){ %>

                       <li> <%= err.msg %> </li>
                   <% }) %>
                     </div>
                   </ul>

               <%}%>

<form method="post" action="/signin">
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
  	<div class="sign-up">
  			Don't have an account? <a href="/register">Sign up</a>
  	</div>
</form>
</div>
</div>
<% include footer %>
