<% include header %>
 <script type="text/javascript">
  function onSuccess(){
    alert("Player successfully created");
  }
</script>

<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#"><strong> Create Player</strong></a>
  		</div>
  	</div>
  </nav>

<div class="container">
<div class="col-sm-6 col-sm-offset-3">

  <% if(locals.success){ %>
       <script>onSuccess();</script>
  <%}%>

   <% if(locals.errors){ %>
                   <ul>
                       <div class="alert alert-danger">
                   <% locals.errors.forEach(function( err){ %>

                       <li> <%= err.msg %> </li>
                   <% }) %>
                     </div>
                   </ul>

               <%}%>
   <form id="myform" method="post" action="/api/players" >

  <p>
    <label>First Name:</label>
    <input type="text" name="first_name">
  </p>
  <p>
    <label>Last Name:</label>
    <input type="text" name="last_name">
  </p>
  <p>
    <label>Rating:</label>
    <input type="text" name="rating">
  </p>
  <p>
    <label>handedness:</label>
    <input type="text" name="handedness">
  </p>

  <p>
    <input type="submit" value="Create"/>
    <input type="submit" value="Back to board" formaction="/api/board" formmethod="get"  />
</p>
</div>
</div>
<% include footer %>
